.DS_Store
_site

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user
.Rdata

/.quarto/

/_*.local
**/*.quarto_ipynb
*.html

# indicator_analysis
indicator_analysis/indicator_evaluation_cache/
indicator_analysis/indicator_evaluation_files/
indicator_analysis/data/
indicator_analysis/epidatr_cache/

# revision_analysis
revision_analysis/data/
# dataset_comparison
dataset_comparison/
